@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Gugi&display=swap');
.Feeds{
    z-index: 99;
    position: fixed;
    width: 20%;
    background-color: #05d3f8;
    height: 100%;
    margin-top: 66px;
}

.Feeds-intems{ 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

}

.logo{
    width: 168px;
}
.Feeds-Category{
    
}
.Feeds-perfil{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    height: 239px;
    width: 223px;
    margin-top: 24px;
    background-color: #14bedd;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.inform-perfil{
    display: flex;
    font-size: 24px;
    font-family: 'Gugi', cursive;
    flex-direction: column-reverse;
    align-items: center;
    color: white;
}