.Feeds{
    z-index: 99;
    position: fixed;
    width: 20%;
    background-color: #05d3f8;
    height: 100%;
    margin-top: 66px;
}

.Feeds-intems{ 
    display: flex; 
}

.logo{
    width: 168px;
}