*{
    margin: 0%;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.Header{
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 99;
    position: fixed;
    width: 100%;
    background-color: #0f4571;
    height: 66px;
    margin-bottom: 10%;
    justify-content: space-between;
}

.Header-button{ 
  margin-right: 2%;
}

.logo-img{
  width: 50px;
}

.logout {
  background-color: #05d3f8;
  border: 1px solid #05d3f8;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: din-round,sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.logout:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .logout {
    padding: 10px 30px;
  }
}