*{
    margin: 0%;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.Header{
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 99;
    position: fixed;
    width: 100%;
    background-color: #0f4571;
    height: 66px;
    margin-bottom: 10%;
}

.Header-intems{ 
    display: flex;
    align-items: center; 
}

.logo-img{
  width: 50px;
}