.Notificantion-post{
    background-color: #386dbd;
    width: 250px;
    height: 245px;
    border-radius: 25px;
    margin-top: 87px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}